* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background: #fbfbfb;
}

.login-container {
  max-width: 500px;
  width: 90vw;
  margin: 0 auto;
  background: white;
  padding: 40px 60px;
  border-radius: 10px;

  .title {
    text-align: center;
    margin-bottom: 30px;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  .login-input {
    width: 100%;
    padding: 10px 12px;
    display: block;
  }

  .login-password {
    margin-top: 12px;
  }

  .login-roles-radios {
    display: flex;
    align-items: center;
    list-style: none;
    text-transform: capitalize;
    gap: 10px;
    margin-top: 15px;

    .login-role-radio {
      display: flex;
      align-items: center;
      gap: 5px;

      label {
        margin: 0;
      }
    }
  }

  .login-btn {
    width: 100%;
    margin-top: 30px;
    padding: 10px 12px;
    border: 0;
    background: lightblue;
    cursor: pointer;
  }
}

.global-inner-container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.global-layout {
  width: 100%;
  min-height: 100vh;
  background: #fbfbfb;
  position: relative;

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(29, 29, 27, 0.08);

    .nav-inner {
      padding: 16px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logout-btn {
        border: 0;
        background: none;
        outline: none;
        cursor: pointer;
        color: tomato;
      }
    }
  }

  .layout-children {
    padding-top: 80px;
    background: #fbfbfb;
  }
}

.filter-title {
  margin: 25px 0 12px;
}

.shapes-filter-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;

  .shapes-filter-btn {
    border: 1px solid gray;
    border-radius: 20px;
    padding: 10px 20px;
    text-transform: capitalize;
    cursor: pointer;

    &.selected {
      background: #cfc9f660;
    }
  }

  .colors-filter-btn {
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;

    &.red {
      background: red;
    }

    &.blue {
      background: blue;
    }

    &.green {
      background: green;
    }

    &.yellow {
      background: yellow;
    }

    &.purple {
      background: plum;
    }

    &.grey {
      background: grey;
    }

    &.selected {
      border: 3px solid purple;
      box-shadow: 0px 12px 40px rgba(29, 29, 27, 0.24);
    }
  }
}

.grid-titles-row {
  display: flex;
  align-items: center;
  margin: 50px 0px 20px;
  gap: 10px;

  .grid-title {
    margin: 0;
  }
}

.shapes-grid-container {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.shapes-grid-item {
  width: 100%;
  background: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

  .inner-shape {
    &.square {
      width: 50px;
      height: 50px;
    }

    &.round {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    &.oval {
      width: 60px;
      height: 40px;
      border-radius: 30px / 20px;
    }

    &.rectangle {
      width: 50px;
      height: 30px;
    }

    &.triangle {
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-bottom: 60px solid currentColor;
      background: none !important;
    }

    &.red {
      background: red;
      color: red;
    }

    &.blue {
      background: blue;
      color: blue;
    }

    &.green {
      background: green;
      color: green;
    }

    &.yellow {
      background: yellow;
      color: yellow;
    }

    &.purple {
      background: plum;
      color: plum;
    }

    &.grey {
      background: grey;
      color: grey;
    }
  }
}
